<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
  <script>
    window.Store = window.Store || {};
    window.Store.id = {{ shop.id }};
  </script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">

    <title>
      {{- shop.name -}}
    </title>

  

    {{ content_for_header }}

    



  </head>

  <body class="template-{{ template | split: '.' | first }}">
    <main class="site-main" aria-label="main content" tabindex="-1">
      {{ content_for_layout }}
    </main>

  
    

  </body>
</html>