<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
  <script>
    window.Store = window.Store || {};
    window.Store.id = {{ shop.id }};
  </script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">

    <title>
      {{- shop.name -}}
    </title>

    {% if page_description != blank %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'favicon' %}

    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width">

    {% if template.suffix == '_quickshop' %}
      <meta name="format-detection" content="telephone=no">
    {% endif %}

    {% assign x_handle = settings.social_x | split: 'x.com/' | last | split: 'twitter.com/' | last %}
    {%
      render 'social-meta-tags',
      twitter_handle: x_handle,
    %}

    {{ content_for_header }}

    



  </head>

  <body class="template-{{ template | split: '.' | first }}">
    <main class="site-main" aria-label="main content" tabindex="-1">
      {{ content_for_layout }}
    </main>

  
    

  </body>
</html>